body {
	background:url('../shapes/background.png') no-repeat center center;
	background-color: #000b78;
    color: white;
}

.testno {
	font-size: 80px;
	color: yellow;
	text-shadow: 3px 2px black;
}

.question {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottommargin {
	margin: 0 0 10px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 200px;
	font-size: 20px;
}

.centertext {
	text-align: center;
}

.item_button {
    border-radius: 5px;
    border: 2px solid #004da8;
    padding: 1px 5px; 
    width: 50px;
    height: 25px;
	margin: 0 0 1px 0;
	cursor: pointer;
}

.answered {
	background: #004da8;
}

.selected {
    border: 2px solid red;
}

.finish {
    border-radius: 5px;
    border: 2px solid #000000;
	background: #004da8;
    padding: 5px; 
    width: 100px;
    height: 40px;
	margin: 1px;
	font-size: 20px;
	cursor: pointer;
}

.time {
	font-size: 20px;
	color: red;
}

.possibleAnswer {
	height: 70px;
	cursor: pointer;
}

.navigation_arrow {
	width: 60px;
	cursor: pointer;
}

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.notetext {
	font-size: 20px;
}
